Creating a Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
series1 = pd.Series(list('abcdef'))
series1

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [3]:
np_array = np.array([1,2,3,4,5,6,7,8,9])
series2 = pd.Series(np_array)
series2

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32

Creating Panda Series from a dict

In [4]:
dict_country_gdp = pd.Series([2255.225482,629.9553062,11601.63022,25306.82494,27266.40335,19466.99052,588.3691778,2890.345675,
                              24733.62696,1445.760002,4803.398244,2618.876037,590.4521124,665.7982328,7122.938458,2639.54156,
                              3362.4656,15378.16704,30860.12808,2579.115607,6525.541272,229.6769525,2242.689259,27570.4852,
                              23016.84778,1334.646773,402.6953275,6047.200797,394.1156638,385.5793827,1414.072488,5745.981529,
                              837.7464011,1206.991065,27715.52837,18937.24998,39578.07441,478.2194906,16684.21278,279.2204061,
                              5345.213415,6288.25324,1908.304416,274.8728621,14646.42094,40034.85063,672.1547506,3359.517402,
                              36152.66676,3054.727742,33529.83052,3825.093781,15428.32098,33630.24604,39170.41371,2699.123242,
                              21058.43643,28272.40661,37691.02733,9581.05659,5671.912202,757.4009286,347.7456605],index =['Algeria',
                            'Angola','Argentina','Australia','Austria','Bahamas','Bangladesh','Belarus','Belgium','Bhutan','Brazil',
                            'Bulgaria','Cambodia','Cameroon','Chile','China','Colombia','Cyprus','Denmark','El Salvador','Estonia',
                            'Ethiopia','Fiji','Finland','France','Georgia','Ghana','Grenada','Guinea','Haiti','Honduras','Hungary',
                            'India','Indonesia','Ireland','Italy','Japan','Kenya', 'South Korea','Liberia','Malaysia','Mexico',
                            'Morocco','Nepal','New Zealand','Norway','Pakistan', 'Peru','Qatar','Russia','Singapore','South Africa',
                            'Spain','Sweden','Switzerland','Thailand', 'United Arab Emirates','United Kingdom','United States',
                            'Uruguay','Venezuela','Vietnam','Zimbabwe'])

In [5]:
print(dict_country_gdp)

Algeria           2255.225482
Angola             629.955306
Argentina        11601.630220
Australia        25306.824940
Austria          27266.403350
                     ...
United States    37691.027330
Uruguay           9581.056590
Venezuela         5671.912202
Vietnam            757.400929
Zimbabwe           347.745660
Length: 63, dtype: float64

Creating a series from a scalar

In [7]:
scalarSeries = pd.Series(5., index=['a','b','c','d','e','f'])
scalarSeries

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
f    5.0
dtype: float64

Accessing Elements in a Series

In [8]:
dict_country_gdp[0]

2255.225482

In [11]:
dict_country_gdp[:5] #Accessing first five countries

Algeria       2255.225482
Angola         629.955306
Argentina    11601.630220
Australia    25306.824940
Austria      27266.403350
dtype: float64

In [12]:
dict_country_gdp[-5:] #Accessing last five countries

United States    37691.027330
Uruguay           9581.056590
Venezuela         5671.912202
Vietnam            757.400929
Zimbabwe           347.745660
dtype: float64

In [13]:
dict_country_gdp.loc['India'] #This method is used to access the element using the value of Index

837.7464011

In [15]:
dict_country_gdp.iloc[20]  #This method is used to acces the element using the Index number

6525.541272

Vectorized operations in Seriess

In [18]:
vectorSeries1 = pd.Series([1,2,3,4,5], index =['a','b','c','d','e'])
vectorSeries2 = pd.Series([10,20,30,40,50], index = ['a','b','c','d','e'])

In [19]:
vectorSeries1+vectorSeries2

a    11
b    22
c    33
d    44
e    55
dtype: int64